<div class="d-flex flex-row container-fluid">
  <div class="p-4 col-md-3">
    <div class="col-md-12 row">
      <img
        src="assets/img/avatar.png"
        class="rounded-circle col-md-5 col-lg-5 col-xl-5"
        width="100%"
        height="100%"
      />
      <div class="col-md-7 d-flex align-self-center p-0">
        <input
          class="form-control"
          type="search"
          placeholder="Buscar los nombre de creditos"
          aria-label="Search"
          (keyup)="filterCredits(searchCredits.value)"
          #searchCredits
        />
      </div>
      <div class="pt-4 p-0" *ngFor="let product of selectProducts" (click)="showInfoCredit(product.id) ">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ product.number }}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>

<div *ngFor="let movements of selectProducts" class="p-4 col-md-9 d-flex flex-column min-vh-50 justify-content-center align-items-center" >
<div *ngIf="flag" >
    <div class="page-header text-center">
      <h1 id="timeline">{{ LABELS.TIMELINE }} </h1>
  </div>
  <ul class="timeline">
      <li [ngClass]=" timeline ? '' : 'timeline-inverted'">
        <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip" title="11 hours ago via Twitter" id=""></i></a></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <img class="img-responsive" src="http://lorempixel.com/1600/500/sports/2" />
          </div>
          <div class="timeline-body">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae nisi officiis pariatur accusamus odio laborum enim et, expedita deserunt illo ipsam provident dolorem commodi aperiam ex eveniet? Facilis, nobis tempora!</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
