<div class="container-fluid vh-100">
  <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <div class="col-md-4 col-sm-12 p-5">
      <ng-container *ngIf="hasError">
        <div class="alert alert-danger" role="alert">
          {{ LABELS.NOTIFICATION }}
        </div>
      </ng-container>
      <div class="text-center">
        <img src="assets/img/logo.jfif" class="rounded-circle" />
      </div>
      <form class="d-flex justify-content-center" [formGroup]="loginForm" novalidate="novalidate">
        <div class="p-4 col-md-10">
          <div class="input-group mb-3">
            <input type="email" name="email" formControlName="email" class="form-control" autocomplete="off" placeholder="Email" />
          </div>
          <div class="input-group mb-3">
            <button class="btn btn-primary text-center mt-2 col-md-12" (click)="goValidateForm()">
              {{ LABELS.CONTINUE }}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
