<ng-container *ngIf="hasError">
  <div class="alert alert-danger notification" role="alert">
    <span>{{ LABELS.NOTIFICATION}}</span>
  </div>
</ng-container>
<div class="container-fluid vh-100">
  <div
    class="
      d-flex
      flex-column
      min-vh-100
      justify-content-center
      align-items-center
    "
  >
    <div class="col-md-4 col-sm-12 p-5">
      <div class="text-center">
        <img src="assets/img/logo.jfif" class="rounded-circle" />
      </div>
      <form class="d-flex justify-content-center" [formGroup]="otpForm">
        <div class="p-4 col-md-8">
          <div class="input-group mb-3" formGroupName="tokens">
            <input
              type="text"
              name="token1"
              formControlName="token1"
              class="form-control m-2"
              autocomplete="off"
            />
            <input
              type="text"
              name="token2"
              formControlName="token2"
              class="form-control m-2"
              autocomplete="off"
            />
            <input
              type="text"
              name="token3"
              formControlName="token3"
              class="form-control m-2"
              autocomplete="off"
            />
            <input
              (change)="sentOtp()"
              type="text"
              name="token4"
              formControlName="token4"
              class="form-control m-2"
              autocomplete="off"
            />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
